<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name%>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>

</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>


<%# 今回のコードでは、form_withの引数に@room, @messageの2つを渡している点に注意してください。
これは、messagesのルーティングがroomsにネストされているためです。
チャットルームとメッセージとの間には、あるチャットルームに属しているメッセージ、という親子関係があります。
記述したform_withの第1引数@roomには「指定のチャットルームのレコード情報」、
第2引数@messageには「Messageモデルのからのインスタンス（Message.new）」をあらかじめセットしておく必要があります。
次に、これらの変数をコントローラーのindexアクションで定義しましょう。 %>

<%# renderメソッド
renderメソッドは、部分テンプレートを呼び出す際に利用するメソッドです。
呼び出す部分テンプレートは、partialというオプションで指定します。

partialオプション
renderメソッドで使用できるオプションです。
partialというオプションを付け、部分テンプレート名を指定することで、該当する部分テンプレートを表示できます。 %>

<%# collectionオプション
collectionオプションを使用するとcollectionオプションに指定した変数の要素の分だけ部分テンプレートが繰り返し表示されます。 %>

